@import "tailwindcss";
:root {
  /* Colores */
  --bg-oscuro: #0F2D23;
  --bg-claro: #F8F9F7;
  --verde-principal: #22C55E;
  --texto-principal: #111827;
  --texto-secundario: #6B7280;

  /* Tipografía */
  --fuente: 'Inter', system-ui, -apple-system, sans-serif;
  --fs-h1: 3rem;
  --fs-h2: 2rem;
  --fs-h3: 1.25rem;
  --fs-texto: 1rem;
  --fs-small: 0.875rem;
  --fw-bold: 700;
  --fw-semibold: 600;
  --fw-regular: 400;

  /* Layout */
  --container: 1200px;
  --padding-desktop: 80px;
  --gap-cards: 24px;

  /* Estilos */
  --radius: 8px;
  --sombra: 0 4px 12px rgba(0, 0, 0, .08);
}

body{
    background-color: var(--bg-oscuro);
}
.tituloh1{
    color: var(--verde-principal);
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
    text-align: center;
    margin-top: 50px;
}